:host{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px calc(100vh - 70px) 20px;

  app-header{
    grid-column: 1 / 3;
    grid-row: 1;
  }
  app-sidebar{
    grid-column: 1 / 2;
    grid-row: 2;
  }
  app-footer{
    grid-column: 1 / 3;
    grid-row: 3;
  }
  main{
    grid-column: 2 / 3;
    grid-row: 2;
  }
}